@import '../../style/mixin';
@import '../../style/variables';

.nav-Section {
    display: flex;
    gap: 20px; 
  
  .nav-Menu {
    display: flex; 
    gap: 20px; 
    // background-color: blue;
  }
  
  .Home-text, .About-text {
    font-size: 1rem; 
    color: #333; 
    cursor: pointer; 
    text-decoration: none; 
    @include responsive($breakpoint) {
        font-size: 12px; 
      }
    
  }
  
  .Home-text:hover, .About-text:hover {
    text-decoration: underline; 
  }

}
